.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  min-width: 400px;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1000px) {
  .row {
    flex-direction: row;
  }

  .app {
    padding-top: 150px;
  }
}

.trafficContainer {
  display: flex;
  width: 100%;
  max-width: 1000px;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 10px solid rgba(66, 66, 66, 0.2);
  border-radius: 50%;
  border-top-color: #aaaaaa;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
